
<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div ng-controller='myBooksCtrl'>
    <div ng-controller='angularBookCtrl'>
      <button ng-click='showBook()'>Show AngularBook</button>
    </div>
    <div ng-controller='emberBookCtrl'>
      <button ng-click='showBook()'>Show EmberBook</button>
    </div>
  </div>
</body>
</html>
